:root {
    --main-color: #796BD3;
    --accent-color: #FFE588;
    --sub-color: #C1BBE7;
    --bg-color: #FFFFFF;
}

*{
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    position:fixed;
    width:100vw;
    height:100vh;
}

#home{ 
    background: linear-gradient(rgba(60, 39, 94, 0.56), rgba(60, 39, 94, 0.56)),
    url('../img/main_bg.svg');
    background-size: cover;
}

.container{
    width:100%;
    height:100%;
    background: var(--main-color);
    position:relative;
    padding: 10vw;
}

.maindes{
    position: absolute;
    top: 8.621vh;
    width: 100%;
    height: auto;
    color: var(--bg-color);

}

.logo{
    /* position: absolute; */
    left: 0;
    /* width: 49.067vw; */
    height: 21.429vh;
    /* top: 8.621vh; */
    /* left: 8vw; */
}

.container>p{
    font-weight: 500;
    font-size: 20px;
    color: var(--bg-color);
}


.progress{
    margin: 4vh 0 2.5vh 0;
    width: 80vw;
    height: 50px;
    background-color: transparent;
    display:block;
}
.p1{
    width: 100%;
    height:70%;
    padding: 0 5px 0 5px;
    display:flex;
    justify-content: space-around;
}
.p2{
    width: 100%;
    height:30%;
    display:flex;
    justify-content: space-between;
    color:var(--bg-color);
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 13px;
}
.circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--sub-color);
}

.line{
    margin:10px 0 0 0;
    height:3px !important;
    border:0 none;
    width:33vw;
    color:var(--sub-color);
    background: var(--sub-color);
}

.t1{
    /* position: absolute; */
    /* left: 9.37vw; */
    /* top: 70vw; */

    margin-top: 2.7vw;
    margin-bottom: 1vw;
    font-size: 3.62vw !important;
    line-height: 170%;
}

.t2{
    position: absolute;
    /* left: 9.37vw; */
    /* top: 83vw;  */

    font-size: 2.8vw !important;
    line-height: 170%;
}

.t3{
    position: absolute;
    width:80vw;
    margin:0 auto;
    bottom : 7.9vw;
    font-size: 2.6vw !important;
    text-align: center;
}

.updown { 
    position: absolute;
    left: 9.37vw;
    top: 89vw;
    border-left: 2px solid var(--bg-color); 
    height: 30%; 
}

.back_btn{
    width:6.250vw;
}

.start_btn{
    position:absolute;
    width: 40vw;
    left: 5vw;
    bottom:15.691vh;
    transition: all 0.3s ease 0s;
}

.next_btn{
    width: 31.25vw;
    
    position: absolute;
    top:507px;
    right:16px;
    transition: all 0.3s ease 0s;
}

.btn:hover{
    transform: translateY(-5px);
}

.main{
    background: var(--bg-color);
    border-radius: 33px;
    width:100%;
    height:100%;
    position:absolute;
    left: 0px;
    top: 30vh;
    padding: 30px;
}

