:root {
    --main-color: #796BD3;
    --accent-color: #FFE588;
    --sub-color: #C1BBE7;
    --bg-color: #FFFFFF;
}

*{
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Noto Sans KR', sans-serif;
}

body{
    position:fixed;
    width:100vw;
    height:100vh;
    background: var(--main-color);
}

.mainbg{
    background: linear-gradient(rgba(60, 39, 94, 0.56), rgba(60, 39, 94, 0.56)), url(../img/main_bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.container{
    width:100%;
    height:100%;
    position:relative;
    /* padding: 10vw; */
}

#con_main{
    padding: 10vw;
}

#con_q{
    padding: 38px;
}

.maindes{
    position: absolute;
    top: 8.621vh;
    width: 100%;
    height: auto;
    color: var(--bg-color);
    font-weight: 500;
}

.logo{
    left: 0;
    height: 21.429vh;
}

.q_text{
    font-weight: 500;
    font-size: 2.3vh;
    color: var(--bg-color);
}

.progress{
    margin: 4vh 0 2.5vh 0;
    width: 80vw;
    height: 5.85vh;
    background-color: transparent;
    display:block;
}
.p1{
    width: 100%;
    height:70%;
    padding: 0 5px 0 5px;
    display:flex;
    justify-content: space-around;
}
.p2{
    width: 100%;
    height:30%;
    display:flex;
    justify-content: space-between;
    color:var(--bg-color);
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 13px;
}
.circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--sub-color);
}

.line{
    margin:10px 0 0 0;
    height:3px !important;
    border:0 none;
    width:33vw;
    color:var(--sub-color);
    background: var(--sub-color);
}

.t1{
    margin-top: 2.7vw;
    margin-bottom: 1vw;
    font-size: 1.76vh !important;
    line-height: 170%;
}

.t2{
    position: absolute;
    font-size: 1.29vh !important;
    line-height: 170%;
}

.t3{
    position: absolute;
    width:80vw;
    margin: 0 auto;
    transform: translateX(-50%);
    left: 50%;
    bottom : 7.9vw;
    font-size: 1.17vh !important;
    text-align: center;
    color: var(--bg-color);
}

.updown { 
    position: absolute;
    left: 9.5vw;
    top: 44.85vh;
    border-left: 2px solid var(--bg-color); 
    height: 30%; 
}

.back_btn{
    margin: 0;
    height: 3.51vh;
}

.start_btn{
    position:absolute;
    height: 7.26vh;
    left: 6.5vw;
    bottom:15.691vh;
    transition: all 0.3s ease 0s;
}

.read_btn{
    transition: all 0.3s ease 0s;
}

.next_btn, .home_btn{
    height: 7vh;    
    position: absolute;
    /* top:550px; */
    bottom: 33.2vh;
    right:4.43vw;
    transition: all 0.3s ease 0s;
}

.btn:hover{
    transform: translateY(-5px);
}

.main{
    position:absolute;
    background: var(--bg-color);
    border-radius: 8.59vw;
    /* width:100%; */
    height:100%;
    left: 0px;
    right: 0px;
    top: 30vh;
    padding: 7.81vw;
}