:root {
    --main-color: #796BD3;
    --dark-main-color: #6152C2;
    --accent-color: #FFE588;
    --sub-color: #D1D1D1;
    --bg-color: #FFFFFF;
}

#q1{
    color: var(--bg-color);
}

#q2{
    color: var(--dark-main-color);
}

#q3{
    color: var(--dark-main-color);
}

.main>form>p{
    text-align: center;
    color:black;
    font-weight: bold;
    margin-top: 25px;
    font-size: 20px;
}

.select_btn{
    position:absolute;
    opacity:0;
}

input[type=radio]:hover + label>img {
    transform: translateY(-5px);
}

input[type=radio] + label>img{
    background: var(--sub-color);
    border-radius: 18px;
    width:31.250vw;
    height:31.250vw;
    padding:10px;
}

input[type=radio]:checked + label>img {
    background: var(--accent-color);
}

table{
    text-align: center;
    border-spacing: 20px 0;
    border-collapse: separate;
}

table span{
    margin: 0;
    font-size: 15px;
}