:root {
    --main-color: #796BD3;
    --dark-main-color: #6152C2;
    --accent-color: #FFE588;
    --sub-color: #D1D1D1;
    --bg-color: #FFFFFF;
}

.c1, .l1, .c2{
    background: var(--accent-color);
    color:var(--accent-color);
}

.main>p{
    font-size: 15px;
    color:black;
    margin-top: 15px;
}

form>div{
    margin:1.17vh;
    font-size: 4.22vh;
    font-weight: bold;
    color: #A6A6A6;
}

form>div>input{
    display:none;
}
form>div>input:checked + label{
    color:var(--main-color);
}