:root {
    --main-color: #796BD3;
    --dark-main-color: #6152C2;
    --accent-color: #FFE588;
    --sub-color: #D1D1D1;
    --bg-color: #FFFFFF;
}

.c1, .l1, .c2, .l2, .c3{
    background: var(--accent-color);
    color:var(--accent-color);
}

.search_btn{
    position:absolute;
}