{% extends 'q_base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/q2.css' %}">
{% endblock %}

{% block question %}
<div class="progress">
    <div class="p1">
        <div class="circle c1"></div>
        <hr class="line l1">
        <div class="circle c2"></div>
        <hr class="line l2">
        <div class="circle c3"></div>
    </div>
    <div class="p2">
        <p class="index">FILTER</p>
        <p class="index">TASTE</p>
        <p class="index">RATING</p>
    </div>
</div>

<p class="q_text">
    <strong style="color:#FFE588;">키워드가 중요하다면,</strong><br>
    내가 좋아하는 키워드는</p>
{% endblock %}

{% block content %}
<form action="{% url 'q3' %}" method="get">
    <input type='image' class="next_btn btn" src="{% static 'img/next_btn.svg' %}">
</form>
{% endblock %}