{% extends 'q_base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/q1.css' %}">
{% endblock %}

{% block question %}
<div class="q_num">
    <span id="q1">01</span>
    <span id="q2">02</span>
    <span id="q3">03</span>
</div>

<p class="q_text">어떤 작품으로 추천할까요?</p>
{% endblock %}

{% block content %}
<p>성인 작품 추천받기</p>
<div class="option">
    <img class="adult" src="{% static 'img/adult.svg' %}" alt="adult">            
    <img class="child" src="{% static 'img/child.svg' %}" alt="child">
</div>
<div class="label">
    <span>YES</span>
    <span>NO</span> 
</div>


<p>완결 작품만 추천받기</p>
<div class="option">
    <img class="adult" src="{% static 'img/adult.svg' %}" alt="adult">            
    <img class="child" src="{% static 'img/child.svg' %}" alt="child">
</div>
<div class="label">
    <span>YES</span>
    <span>NO</span> 
</div>


<a type='button' class="next" href="{% url 'q2' %}">
    다음으로
</a>
{% endblock %}