{% extends 'q_base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/q2.css' %}">
{% endblock %}

{% block question %}
<div class="progress">
    <div class="p1">
        <div class="circle c1"></div>
        <hr class="line l1">
        <div class="circle c2"></div>
        <hr class="line l2">
        <div class="circle c3"></div>
    </div>
    <div class="p2">
        <p class="index">FILTER</p>
        <p class="index">TASTE</p>
        <p class="index">RATING</p>
    </div>
</div>

<p class="q_text">작품을 볼 때,<br>
가장 중요하게 생각하는 요소 <strong style="color:#FFE588;">3개</strong>는</p>
{% endblock %}

{% block content %}

<form action="{% url 'q3' %}" method="get" style = 'margin-top: 30px;'>
    <div>
        <input onclick="CountChecked(this)" type="checkbox" name="impt" id="1" value="1">
        <label for="1">좋아요 수</label>
    </div>
    <div>
        <input onclick="CountChecked(this)" type="checkbox" name="impt" id="2" value="2">
        <label for="2">평균 별점</label>        
    </div>
    <div>
        <input onclick="CountChecked(this)" type="checkbox" name="impt" id="3" value="3">
        <label for="3">전체 리뷰 수</label>        
    </div>
    <div>
        <input onclick="CountChecked(this)" type="checkbox" name="impt" id="4" value="4">
        <label for="4">구매자 수</label>
    </div>
    <div>
        <input onclick="CountChecked(this)" type="checkbox" name="impt" id="5" value="5">
        <label for="5">무료회차/기다무</label>
    </div>
    <div>
        <input onclick="CountChecked(this)" type="checkbox" name="impt" id="6" value="6">
        <label for="6">키워드 및 소개</label>
    </div>
    <input type="hidden" id="chb" name="chb" value="">
    <input type='image' class="next_btn btn" src="{% static 'img/next_btn.svg' %}" disabled>
</form>
{% endblock %}

{% block script %}
<script>
    var maxCount=3;
    var cnt=0;
    var button = document.getElementsByClassName('next_btn')[0];
    var hidden = document.getElementById('chb');
    var chk = [];

    function CountChecked(field){
        var parent = field.parentNode;
        if (field.checked){
            cnt += 1;
            chk.push(field.value);
            if(chk.length<=3){
                var newImg = document.createElement('img');
                newImg.classList.add(cnt);
                newImg.src = `{% get_static_prefix %}img/${cnt}.svg`;
                parent.appendChild(newImg);
                //<img src="{% static 'img/1.svg' %}" alt="1st">
            }
        }
        else{
            const idx = chk.indexOf(field.value);
            cnt -= 1;
            if (idx > -1) chk.splice(idx, 1);

            var newImg = document.getElementsByClassName(idx+1)[0];
            //console.log(newImg);
            parent.removeChild(newImg);

            for(var i=1;i<chk.length+1;i++){
                var div = document.querySelector(`form div:nth-child(${chk[i-1]})`);
                console.log(div.children[2]);
                div.children[2].className = i;
                div.children[2].src = `{% get_static_prefix %}img/${i}.svg`;

            }
        }
        if(cnt<=0){
            button.src = `{% static 'img/next_btn.svg' %}`;
            button.disabled="disabled";
        }
        if(cnt>0){
            button.src = `{% static 'img/next_btn_act.svg' %}`;
            button.disabled=false;
        }
        if (chk.length>3){
            alert("최대 3개까지 선택가능합니다.");
            field.checked = false;
            cnt -=1;
            chk.pop();
        }
        console.log(chk);
        hidden.value = chk;
    }
</script>
{% endblock %}