{% extends 'q_base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/q3.css' %}">
{% endblock %}

{% block question %}
<div class="progress">
    <div class="p1">
        <div class="circle c1"></div>
        <hr class="line l1">
        <div class="circle c2"></div>
        <hr class="line l2">
        <div class="circle c3"></div>
    </div>
    <div class="p2">
        <p class="index">FILTER</p>
        <p class="index">TASTE</p>
        <p class="index">RATING</p>
    </div>
</div>

<p class="q_text">이전에 봤던 작품<br>
<strong style="color:#FFE588;">5개 이상</strong>을 평가해주세요.</p>
{% endblock %}


{% block content %}
<div class="main mx-auto">
    <div class="s_wrap">
        <form action="{% url 'q3' %}">
            <input class="search" type="text" placeholder="제목을 입력해주세요." name="search">
            <input class="search_btn" type="image" src="{% static 'img/search.svg' %}" >
        </form>
    </div>
    
    <table>
        <colgroup>
            <col style="width:30%">
            <col style="width:70%">
        </colgroup>
        {% for novel in search_result %}
        <tr>
            <form action="{% url 'add_novel_list' %}" method="get">
                <td class="thumbnail"><img src="{{novel.image}}" alt="" width="85" height="122"></td>
                <td>
                    <p class="title">{{novel.title}}</p>
                    <div class="author">{{novel.author}}</div>
                    <div class="genre">{{novel.genre}}</div>
                    <div class="star-rating star_active">
                        <input type="radio" id="5-stars" name="rating" value="5" />
                        <label for="5-stars" class="star">&#9733;</label>
                        <input type="radio" id="4-stars" name="rating" value="4" />
                        <label for="4-stars" class="star">&#9733;</label>
                        <input type="radio" id="3-stars" name="rating" value="3" />
                        <label for="3-stars" class="star">&#9733;</label>
                        <input type="radio" id="2-stars" name="rating" value="2" />
                        <label for="2-stars" class="star">&#9733;</label>
                        <input type="radio" id="1-star" name="rating" value="1" />
                        <label for="1-star" class="star">&#9733;</label>
                    </div>
                    <input type="hidden" id="nIndex" name="novel_index" value="{{novel.index}}">
                    <button type="submit" class="add_btn">선택</button>
                </td>         
            </form>
        </tr>
        {% endfor %}
    </table>
    
    <a type='button' href="{% url 'novel_list' %}">
        <img class="read_btn btn" src="{% static 'img/closed.svg' %}">
    </a>
    
    <a type='button' href="{% url 'result' %}">
        <img class="next_btn btn" src="{% static 'img/result_btn.svg' %}">
    </a>
</div>
{% endblock %}
{% block script %}
<script>
    function select_novel(){
        // 체크 안했을 때 오류남 -> 발전가능성*^^*
        var star = document.querySelector('input[name="rating"]:checked').value;
        console.log(star);
    }
</script>
{% endblock %}