{% extends 'q_base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/q3.css' %}">
{% endblock %}

{% block question %}
<div class="progress">
    <div class="p1">
        <div class="circle c1"></div>
        <hr class="line l1">
        <div class="circle c2"></div>
        <hr class="line l2">
        <div class="circle c3"></div>
    </div>
    <div class="p2">
        <p class="index">FILTER</p>
        <p class="index">TASTE</p>
        <p class="index">RATING</p>
    </div>
</div>

<p class="q_text">이전에 봤던 작품<br>
<strong style="color:#FFE588;">5개 이상</strong>을 평가해주세요.</p>
{% endblock %}


{% block content %}
<form action="">
    <input type="text" placeholder="찾아보기">
    <input type="image" src="{% static 'img/search.svg' %}" class="search_btn">
</form>

<a type='button' href="{% url 'q3' %}">
    <img class="next_btn btn" src="{% static 'img/next_btn.svg' %}">
</a>
{% endblock %}