{% extends 'q_base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/q3.css' %}">
{% endblock %}

{% block question %}
<div class="progress">
    <div class="p1">
        <div class="circle c1"></div>
        <hr class="line l1">
        <div class="circle c2"></div>
        <hr class="line l2">
        <div class="circle c3"></div>
    </div>
    <div class="p2">
        <p class="index">FILTER</p>
        <p class="index">TASTE</p>
        <p class="index">RATING</p>
    </div>
</div>

<p class="q_text">이전에 봤던 작품<br>
<strong style="color:#FFE588;">5개 이상</strong>을 평가해주세요.</p>
{% endblock %}


{% block content %}
<div class="main mx-auto">
    <div class="s_wrap">
        <form action="{% url 'q3' %}">
            <input class="search" type="text" placeholder="제목을 입력해주세요." name="search">
            <input class="search_btn" type="image" src="{% static 'img/search.svg' %}" >
        </form>
    </div>
    
    <table>
        <tr>
            <td class="thumbnail"><img src="{% static 'img/adult_yes.svg' %}" alt=""></td>
            <td>
                <p class="title">제목</p>
                <div class="author">작가</div>
                <p class="genre">장르</p>
                <p>평점</p>
            </td>
        </tr>
        <tr>
            <td class="thumbnail"><img src="{% static 'img/adult_yes.svg' %}" alt=""></td>
            <td>
                <p class="title">제목</p>
                <div class="author">작가</div>
                <p class="genre">장르</p>
                <p>평점</p>
            </td>
        </tr>
    </table>
    
    <a type='button' href="{% url 'novel_list' %}">
        <img class="read_btn btn" src="{% static 'img/closed.svg' %}">
    </a>
    
    <a type='button' href="{% url 'result' %}">
        <img class="next_btn btn" src="{% static 'img/result_btn.svg' %}">
    </a>
</div>
{% endblock %}